div{
    background-color: blue;
}
.heading{
    color:red;
}


#id1{
    background-color: rgb(159, 219, 159);
}

p{
    text-align:center;
}

#h1max{
    text-align: center;
    text-decoration: underline;
}